<div id='wavegroup{{idsuffix}}'>
<div id='jtab{{idsuffix}}'> </div>
<div id="waveform{{idsuffix}}"></div>
<div id="waveform{{idsuffix}}-timeline"></div>
<div id="waveform{{idsuffix}}-minimap"></div>
<div class='butnrow' id='butnrow{{idsuffix}}'>
{{> buttonrow}}
</div>
<div id='procmods{{idsuffix}}'>
</div>
</div>