<tr>
<tr><td class='sampfile samplen' style='text-align: left' colspan='10'>{{fileName}}</td><td class='sampfile samplen' colspan='6' rowspan='3'><audio controls preload='none'><source src='{{sample_path}}{{fileName}}' type='audio/wav'></audio></td></tr>
<tr><th class='samplen'>Top Note</th>
<th class='samplen'>Note #</th>
<th class='samplen'>Start Sample</th>
<th class='samplen'>End Sample</th>
<th class='samplen'>Transpose</th>
<th class='samplen'>Cents</th>
<th class='samplen' colspan='4' rowspan='2'> </th>
</tr>
<tr>
<td class='samplenb'>{{tonotename rangeTopNote}}</td>
<td class='samplenb'>{{rangeTopNote}}</td>
<td class='samplenb'>{{zone.startSamplePos}}</td>
<td class='samplenb'>{{zone.endSamplePos}}</td>
<td class='samplenb'>{{transpose}}</td>
<td class='samplenb'>{{cents}}</td></tr>
</td>
</tr>