<td class='simplechan npop' style='background-color: {{sectionColor}}' data-text='{{kindName}} {{patch}} {{patchName}}{{#if info}}{{info}}{{/if}}'>
{{trackNum}}&nbsp;<button class='tinybutn add2midi' data-trackNum='{{trackNum}}'title='Track Menu'><img src='img/menu-up.png'/></button>
</td>
