<table class='mod_knobs xmltab'>
<!-- Mod Knob Mappings -->
<tr>
<th class='mkhead' colspan='8'>{{title}}</th>
</tr>
</tr>
<tr>
<th class='mkhead'>Volume</th>
<th class='mkhead'>Cutoff/FM</th>
<th class='mkhead'>Attack</th>
<th class='mkhead'>Delay Time</th>

<th class='mkhead'>Sidechain</th>
<th class='mkhead'>Mod Rate</th>
<th class='mkhead'>Stutter</th>
<th class='mkhead'>Custom 2</th>
</tr>
<tr>
<td class='mkhdata'>{{mk1}}</td>
<td class='mkhdata'>{{mk3}}</td>
<td class='mkhdata'>{{mk5}}</td>
<td class='mkhdata'>{{mk7}}</td>

<td class='mkhdata'>{{mk9}}</td>
<td class='mkhdata'>{{mk11}}</td>
<td class='mkhdata'>{{mk13}}</td>
<td class='mkhdata'>{{mk15}}</td>
</tr>
<tr>
<th class='mkhead'>Pan</th>
<th class='mkhead'>Res/FM</th>
<th class='mkhead'>Release</th>
<th class='mkhead'>Amount</th>

<th class='mkhead'>Reverb</th>
<th class='mkhead'>Depth</th>
<th class='mkhead'>Custom 1</th>
<th class='mkhead'>Custom 3</th>
</tr>
<tr>
<td class='mkhdata'>{{mk0}}</td>
<td class='mkhdata'>{{mk2}}</td>
<td class='mkhdata'>{{mk4}}</td>
<td class='mkhdata'>{{mk6}}</td>

<td class='mkhdata'>{{mk8}}</td>
<td class='mkhdata'>{{mk10}}</td>
<td class='mkhdata'>{{mk12}}</td>
<td class='mkhdata'>{{mk14}}</td>
</tr>
</table><p class='tinygap'>