<tr class='sampleprefix'>
<tr>
<td class='sampfile sample1' style='text-align: left' colspan='10'>{{osc1.fileName}}
<td class='sampfile sample1' colspan='6'><audio controls preload='none'><source src='{{sample_path_prefix}}{{osc1.fileName}}' type='audio/wav'></audio></td>
</tr>
{{#if osc2.fileName}}
<tr>
<td class='sampfile sample2' style='text-align: left' colspan='10'>{{osc2.fileName}}</td>
<td class='sampfile sample2'colspan='6'><audio controls preload='none'><source src='{{sample_path_prefix}}{{osc2.fileName}}' type='audio/wav'></audio></td>
</tr>
{{/if}}