<div class='trackhd'><p class='tinygap'>
<table class='xmltab'>
<tr><th colspan='8'>Track {{trackNum}}<//th></tr>
<tr>
<td class='soundviewbtn' trackno='{{trackIndex}}'>&#x25BA</td>
<td>{{section}}</td>
<td>{{{repeats}}}</td>
<td>{{kindName}}</td>
<td>{{patch}}</td>
<td>{{patchName}}</td>
{{#if info}}
<td>{{info}}</td>
{{/if}}
<td>{{>getcopytoclip}}</td>
</tr>
</table><p class='tinygap'>
<div class='sndplc'> </div>
