<table class='filetab' id='filetable'>
<tr>
<th class='nameh table_bts'>Name</th>
<th class='sizeh table_bts'>Size</th>
<th class='dateh table_bts'>Date</th>
</tr>
{{#unless atRootLevel}}
<tr>
<td class='table_name direntry' colspan='3'><span>..</span><a href="javascript:void(0)"/></td>
</tr>
{{/unless}}
{{#each filelist}}
{{#if isDirectory}}
<tr><td class='table_name direntry'><b>{{fname}}</b><a href="javascript:void(0)"/></td>
<td colspan='2'></td>
</tr>
{{else}}
<tr><td class='table_name fileentry'>{{fname}}<a href="javascript:void(0)"/></td>
<td class='table_dts'>{{fsize}}</td>
<td class='table_dts'>{{{formatDT this}}}</td>
</tr>
{{/if}}
{{/each}}
</table>