<div id='midigroup{{idsuffix}}'>
<div id='midiantab{{idsuffix}}'> </div>
<div id="midianview{{idsuffix}}"></div>
<div class='butnrow' id='butnrow{{idsuffix}}'>
{{> buttonrow}}
</div>
<div id='procmods{{idsuffix}}'>
</div>
</div>